<ul class="readme">
	<li>
		<span>cd to project directory and run </span>
		<div class="console">npm install</div>
	</li>
	<li>
		<span>after that run </span>
		<div class="console">grunt compile </div>
		<span>to build less and run watcher</span>
	</li>
	<li>
		<span>the next step will be run from root directory</span>
		<div class="console">npm start</div>
	</li>
	<li>
		<span>or move to 'bin' directory, you can use</span>
		<div class="console">cd bin/</div>
		<span>and run</span>
		<div class="console">npm www</div>
	</li>
</ul>